name: Build for Raspbian 64-bit

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: actions/setup-rust@v1
      with:
        toolchain: stable

    - name: Install cross
      run: cargo install cross

    - name: Build for Raspbian 64-bit
      run: cross build --target aarch64-unknown-linux-gnu --release

    - name: Run tests
      run: cargo test --verbose

    - name: Upload Executables
      uses: actions/upload-artifact@v3
      with:
        name: raspbian-executables
        path: target/aarch64-unknown-linux-gnu/release/heliocron
